{% extends 'all_category_items.html' %}


{% block content_details %}

<div class="container">
    <div class="row">
        {% for i in single %}
        <div class="col-md-6" style="margin-top: 90px;">
           
            <img src="{{ i.item_image.url }}" alt="">
            
        </div>
        <div class="col-6">
            
            <div style="text-align: center; margin-top: 120px;">
            <h3>{{ i.brand }}</h3><br>
            <h2>Model: {{ i.item_model }}</h2>
            <h3 style="color: red;">${{ i.price }}</h3><br>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                 when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                 It has survived not only five centuries, but also the leap into electronic typesetting</p>

                 <a href="{% url 'checkout' %}"><button class="btn btn-success" style="padding:10px 20px">Order</button></a>
            </div>
        </div>
            {% endfor %}
       
    </div>
    
        
    </div>


{% endblock %}